* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(3, 97, 3);
  font-family: "Raleway", sans-serif;
}
.container {
  margin: 45px auto 20px;
  background-color: white;
  max-width: 310px;
  height: 630px;
  border-radius: 5px;
}

p {
  text-align: center;
}

header {
  text-align: center;
}

header h1 {
  padding: 18px;
}

form {
  padding: 20px;
}

label {
  display: block;
  font-size: 12px;
}

input {
  width: 100%;
  padding: 11px 20px;
  margin: 5px 0px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.user_icon {
  background: url("https://cdn-icons-png.flaticon.com/512/2658/2658076.png")
    no-repeat right;
  background-position: 245px;
  background-size: 15px;
}

.pass_icon {
  background: url("https://cdn-icons.flaticon.com/png/512/4692/premium/4692344.png?token=exp=1643832141~hmac=ec19dab79331cfc72688a2e6413822dd")
    no-repeat right;
  background-position: 245px;
  background-size: 15px;
}

button {
  width: 210px;
  height: 37px;
  background-color: #f08811;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.agreement {
  font-size: 13px;
  padding: 0px 15px;
}
.login {
  color: white;
  font-size: 17px;
}
span {
  color: #ff8811;
}
